<script type="text/javascript">
    $("#commit").validVal({});
    $("#commit input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $( "#commit" ).triggerHandler( "submitForm" );
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/commit",
                dataType: "json",
                data: form_data,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 5 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
</script>

{% if need_settings %}
<div class="needsettings">
  <h2>Settings required</h2>
  <p>Before you can commit, you need to set some values on <a href="/?rand={{ random }}#settings">the Settings-tab</a>.</p>
</div>
{% else %}
<div class="commit">
  <h2>Commit current config</h2>
  <p>If you have two peers configured, you need to enter the password for your peers admin-user below so we can sync.</p>
  <form method="POST" action="/commit" id="commit">
    <textarea name="cmsg" placeholder="Commit message"/>
    {% if settings.peer1 and settings.peer2 %}
    <input type="password" name="peerpw" placeholder="Peer password"/>
    {% endif %}
    <input type="submit" name="submit" value="Commit!" />
  </form>
</div>

{% if history %}
<div class="revert">
<table>
  <tr>
    <th>Timestamp</th>
    <th>Message</th>
    <th>Revert</th>
  </tr>
{% for commit in history %}
  <tr>
    <td>{{ commit.timestamp }}</td>
    <td>{{ commit.message }}</td>
    <td>Not yet implemented</td>
  </tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endif %}
