<!doctype html>
<html>
<head>
  <title>Olb Administrative interface</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.10.2.custom.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.jgrowl.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='jquery.jgrowl.min.js') }}"></script>

  <script>
  $(document).ready(function() {
    $tabs = $("#tabs").tabs({
      beforeLoad: function( event, ui ) {
        ui.jqXHR.error(function() {
          ui.panel.html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. " +
            "If this wouldn't be a demo." );
        });
      }
    });
    var tablist = JSON.parse('{ "main": 0, "vips": 1, "pools": 2, "nodes": 3, "users": 4, "commit" : 5, "settings": 6 }');
    thash = document.location.hash.replace('#', '');
    if (thash != undefined && thash != '') {
        $("#tabs").tabs( "option", "active", tablist[thash] );
    };
  });
  </script>
</head>
<body>
{% if not session.logged_in %}
  {% block body %}{% endblock %}
{% else %}
  {% include "main.html" ignore missing %}
{% endif %}
