<script type="text/javascript">
    $("#nadd").validVal({});
    $("#nadd input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $( "#nadd" ).triggerHandler( "submitForm" );
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/nodes",
                dataType: "json",
                data: form_data,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $.jGrowl(json.message);
                        $( "#tabs" ).tabs( "load", 3 );
                        return false;
                    }
                }
            });
        }
    });
    $(".ndel" ).click(function( event ) {
        nid = $(this).attr('id');
        if ( nid ) {
            $.ajax({
                type: "POST",
                url: "/nodes",
                dataType: "json",
                data: "action=delete&nodeid="+nid,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 3 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
</script>

{% if session.username == "admin" %}
<div class="nodes">
  <h2>Add a node</h2>
  <form method="POST" action="/nodes" id="nadd">
  <table class="utable">
    <tr>
      <th>Description</th>
      <th>IP Address</th>
      <th>Port</th>
    </tr>
    <tr>
      <td><input type="text" id="description" name="description" placeholder="Description" required="required"/></td>
      <td><input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" required="required" /></td>
      <td><input type="text" id="port" name="port" placeholder="Port" required="required" size="6" /></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="nadd-submit" id="naddsubmit" value="Add node" />
      </td>
    </tr>
  </table>
  </form>
</div>
{% endif %}

<div class="nlist">
  <h2>Current nodes</h2>
  {% if nodes %}
  <table class="ntable">
    <tr>
      {% if session.username == "admin" %}
      <td>&nbsp;</td>
      {% endif %}
      <th>Description</th>
      <th>IP Address</th>
      <th>Port</th>
    </tr>
  {% for node in nodes %}
    <tr>
      {% if session.username == "admin" %}
      <td><a href="#" class="ndel" id="{{ node.id }}">X</a></td>
      {% endif %}
      <td>{{ node.description }}</td>
      <td>{{ node.ip | ip_convert }}</td>
      <td>{{ node.port }}</td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>No nodes defined yet!</p>
  {% endif %}
</div>
