<script type="text/javascript">
    $("#padd").validVal({});
    $("#padd input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $( "#padd" ).triggerHandler( "submitForm" );
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/pools",
                data: form_data,
                dataType: "json", 
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $.jGrowl(json.message);
                        $( "#tabs" ).tabs( "load", 2 );
                        return false;
                    }
                }
            });
        }
    });
    $(".pdel" ).click(function( event ) {
        pid = $(this).attr('id');
        if ( pid ) {
            $.ajax({
                type: "POST",
                url: "/pools",
                dataType: "json",
                data: "action=delete&poolid="+pid,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 2 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
    $(".pndel" ).click(function( event ) {
        pnid = $(this).attr('id');
        if ( pnid ) {
            $.ajax({
                type: "POST",
                url: "/pools",
                dataType: "json",
                data: "action=delete_pn&pnid="+pnid,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 2 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
    $(".pnadd input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $(this).parents('form:first');
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/pools",
                dataType: "json",
                data: form_data.serialize(),
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 2 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
    $(".ptchange select" ).on("change", function( event ) {
        event.preventDefault();
        var form_data = $(this).parents('form:first');
        alert(form_data.serialize());
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/pools",
                dataType: "json",
                data: form_data.serialize(),
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 2 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
</script>

{% if session.username == "admin" %}
<div class="pools">
  <h2>Add a pool</h2>
{% if nodes %}
  <form method="POST" action="/pools" id="padd">
  <table class="ptable">
    <tr>
      <th>Pool name</th>
      <th>Pool members</th>
      <th>Pool type</th>
    </tr>
    <tr>
      <td><input type="text" id="poolname" name="poolname" placeholder="Pool name" required="required"/></td>
      <td>
        <select name="members" required="required" multiple="multiple" size="6">
        {% for node in nodes %}
          <option value="{{ node.id }}">{{ node.description }} ({{ node.ip | ip_convert }}-{{ node.port }})</option>
        {% endfor %}
        </select>
      </td>
      <td>
        <select name="pooltype" required="required">
        {% for pooltype in pooltypes %}
          <option value="{{ pooltype.id }}">{{ pooltype.typename }}</option>
        {% endfor %}
        </select>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="padd-submit" id="paddsubmit" value="Add pool" />
      </td>
    </tr>
  </table>
  </form>
{% else %}
  <p>No nodes defined yet! You need to <a href="/?rand={{ random }}#nodes">do that</a> before you can proceed.</p>
{% endif %}
</div>
{% endif %}

<div class="plist">
  <h2>Current pools</h2>
  {% if pools %}
  <table class="ptable">
    <tr>
      {% if session.username == "admin" %}
      <td>&nbsp;</td>
      {% endif %}
      <th>Pool</th>
      <th>Nodes</td>
      <th>Type</td>
    </tr>
  {% for pool in pools %}
    <tr>
      {% if session.username == "admin" %}
      <td><a href="#" class="pdel" id="{{ pool.id }}">X</a></td>
      {% endif %}
      <td>{{ pool.poolname }}</td>
      <td>
        <ul>
          {% for node in pool.nodes %}
          <li>
            {% if session.username == "admin" %}
            <a href="#" class="pndel" id="{{ node.pnid }}">X</a>&nbsp;
            {% endif %}
            {{ node.description }} ({{ node.ip | ip_convert }}-{{ node.port }})</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <form method="POST" action="/pools" class="ptchange">
        <select name="pooltype" required="required" class="ptchange">
        {% for pooltype in pooltypes %}
          <option {% if pool.typename == pooltype.typename %}selected {% endif %}value="{{ pooltype.id }}">{{ pooltype.typename }}</option>
        {% endfor %}
        </select>
        <input type="hidden" name="poolid" value="{{ pool.id }}" />
        <input type="hidden" name="action" value="ptchange" />
        </form>
      </td>
    </tr>
    {% if session.username == "admin" %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2">
        <form method="POST" action="/pools" class="pnadd">
          <select name="nodeid">
          {% for anode in pool.anodes %}
            <option value="{{ anode.id }}">{{ anode.description }} ({{anode.ip | ip_convert }}-{{ anode.port }})</option>
          {% endfor %}
          <input type="hidden" name="poolid" value="{{ pool.id }}" />
          <input type="hidden" name="action" value="add_pool_node" />
          <input type="submit" name="pnadd-submit" id="pnadd-submit" value="Add to pool" />
        </form>
      </td>
    </tr>
    {% endif %}
  {% endfor %}
  </table>
  {% else %}
  <p>No pools defined yet!</p>
  {% endif %}
</div>
