<script type="text/javascript">
    $("#uadd").validVal({});
    $("#uadd input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $( "#uadd" ).triggerHandler( "submitForm" );
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/users",
                dataType: "json",
                data: form_data,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 4 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
    $(".uedit input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $(this).parents('form:first');
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/users",
                dataType: "json",
                data: form_data.serialize(),
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 2 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
    $(".udel" ).click(function( event ) {
        uid = $(this).attr('id');
        if ( uid ) {
            $.ajax({
                type: "POST",
                url: "/users",
                dataType: "json",
                data: "action=delete&uid="+uid,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 4 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
</script>

<div class="uadd">
  <h2>Add a user</h2>
  <form method="POST" action="/users" id="uadd">
  <table class="utable">
    <tr>
      <th>Username</th>
      <th>Realname</th>
      <th>Email address</th>
      <th>Password</th>
    </tr>
    <tr>
      <td><input type="text" id="username" name="username" placeholder="Username" required="required"/></td>
      <td><input type="text" id="realname" name="realname" placeholder="Real name" required="required" /></td>
      <td><input type="email" id="email" name="email" placeholder="Email address" required="required"/></td>
      <td><input type="password" name="password"  placeholder="Password" required="required"/></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
      <td>
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="uaddsubmit" id="uaddsubmit" value="Add user" />
      </td>
    </tr>
  </table>
  </form>
</div>

<div class="ulist">
  <h2>Current users</h2>
  <table class="utable">
    <tr>
      <td>&nbsp;</td>
      <th>Username</th>
      <th>Realname</th>
      <th>Email address</th>
      <th>Password</th>
      <td>&nbsp;</td>
    </tr>
  {% for user in users %}
    <tr>
      <td><a href="#" class="udel" id="{{ user.id }}">X</a></td>
      <td>{{ user.username }}</td>
      <td colspan="3"><form method="POST" action="/users" class="uedit">
      <input type="text" name="realname" required="required" value="{{ user.realname }}" />
      <input type="text" name="email" required="required" value="{{ user.email }}" />
      <input type="password" name="password" placeholder="Only if new" value="unchanged" />
      <input type="submit" name="ueditsubmit" id="ueditsubmit" value="Update" />
    <input type="hidden" name="action" value="edit" />
    <input type="hidden" name="username" value="{{ user.username }}" />
    </form>
    </td>
    </tr>
  {% endfor %}
  </table>
</div>
