<script type="text/javascript">
    $("#vadd").validVal({});
    $("#vadd input:submit" ).click(function( event ) {
        event.preventDefault();
        var form_data = $( "#vadd" ).triggerHandler( "submitForm" );
        if ( form_data ) {
            $.ajax({
                type: "POST",
                url: "/vips",
                dataType: "json",
                data: form_data,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $.jGrowl(json.message);
                        $( "#tabs" ).tabs( "load", 1 );
                        return false;
                    }
                }
            });
        }
    });
    $(".vdel" ).click(function( event ) {
        vipid = $(this).attr('id');
        if ( vipid ) {
            $.ajax({
                type: "POST",
                url: "/vips",
                dataType: "json",
                data: "action=delete&vipid="+vipid,
                success: function( json ) {
                    if (json.error != undefined) {
                        $.jGrowl(json.error);
                        return false;
                    } else {
                        $( "#tabs" ).tabs( "load", 1 );
                        $.jGrowl(json.message);
                        return false;
                    }
                }
            });
        }
    });
</script>

{% if session.username == "admin" %}
<div class="vips">
  <h2>Add a vip</h2>
  {% if interfaces %}
  {% if pools %}
  <form method="POST" action="/vips" id="vadd">
  <table class="utable">
    <tr>
      <th>IP Address</th>
      <th>Port</th>
      <th>Pool</th>
      <th>Interface</th>
    </tr>
    <tr>
      <td><input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" required="required" /></td>
      <td><input type="text" id="port" name="port" placeholder="Port" required="required" size="6" /></td>
      <td>
        <select name="pool" id="pool" required="required">
        {% for pool in pools %}
          <option value="{{ pool.id }}">{{ pool.poolname }}</option>
        {% endfor %}
        </select>
      </td>
      <td>
        <select name="iface" id="iface" required="required">
        {% for iface in interfaces %}
          <option value="{{ iface.id }}">{{ iface.iname }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>
        <input type="hidden" name="action" value="add" />
        <input type="submit" name="vadd-submit" id="vaddsubmit" value="Add vip" />
      </td>
    </tr>
  </table>
  </form>
  {% else %}
  <p>No pools defined yet! You need to <a href="/?rand={{ random }}#pools">do that</a> before you can proceed.</p>
  {% endif %}
  {% else %}
  <p>No interfaces defined yet! You need to <a href="/?rand={{ random }}#settings">do that</a> before you can proceed.</p>
  {% endif %}
</div>
{% endif %}

<div class="vlist">
  <h2>Current vips</h2>
  {% if vips %}
  <table class="vtable">
    <tr>
      {% if session.username == "admin" %}
      <th>&nbsp;</th>
      {% endif %}
      <th>IP Address</th>
      <th>Port</th>
      <th>Pool</th>
      <th>Interface</th>
    </tr>
  {% for vip in vips %}
    <tr>
      {% if session.username == "admin" %}
      <td><a href="#" class="vdel" id="{{ vip.id }}">X</a></td>
      {% endif %}
      <td>{{ vip.ip | ip_convert }}</td>
      <td>{{ vip.port }}</td>
      <td>{{ vip.poolname }}</td>
      <td>{{ vip.iname }}</td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
  <p>No vips defined yet!</p>
  {% endif %}
</div>
